%h1 Leaderboard
%table#leaderboard
  - @twitter_users.each_with_index do |twitter_user, i|
    %tr
      %td
        = "#{i+1}."
      %td
        %a{:href => "http://twitter.com/#{twitter_user.screen_name}"}
          %img{:src => twitter_user.profile_image_url}
      %td
        %a{:href => "/#{twitter_user.screen_name}"}
          = twitter_user.screen_name
      %td
        %b= twitter_user.megafonzies.round